
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
!Modules/**
# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
SynapseContactSync/SynapseContactSync.cer
.gitignore
SynapseContactSync/SynapseContactSync.pfx
